.chat
  .chatmain-header
    .chatmain-header__left-box
      %h2.chatmain-header__left-box__current-group
        mainheader
      %ul.chatmain-header__left-box__group-list
        調味料 : 
        %li.chatmain-left-box__group-list__member
          しょうゆ
    .chatmain-header__right-box
      =link_to "Edit", 'http://localhost:3000/groups/1/edit', class:"edit-btn" 
        
      
  .chatmain-message
    .chatmain-message__data
      .chatmain-message__data__info
        %p.chatmain-message__data__info--taker
          apple
        %p.chatmain-message__data__info--date
          1129
      %p.chatmain-message__data__text
        banana

  .chatmain-form    
    %form.new-message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          %i.fa.fa-image
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn"}

  
    
    