$normal-color: #fff;
$btn-color: #38aef0;


* {
  box-sizing: border-box;
}

.sidebar {
  width: 300px;
  float: left;
  background-color: $normal-color;
}

.sidebar-header {
  height: 100px;
  background-color: #253141;
  display: flex;
  align-items: center;
  padding: 0 20px;
  &__top {
    width: 100%;
    height: 20px;
    background-color: #253141;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    line-height: 20px;
    &__username {
      color: $normal-color;
      font-size: 16px;
    }
    &__items {
      display: flex;
      justify-content: flex-end;
      width: 60px;
      li {
        margin-left: 5px;
        a {
          color: $normal-color;
        }
      }
    }
  }
}



.groups {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  width: 300px;
  padding: 20px 20px 0;
  overflow: scroll;
  .groups-group {
    margin-bottom: 40px;
    text-decoration: none;
    &__name {
      font-size: 15px;
      margin-top: 20px;
      margin-bottom: 5px;
      color: $normal-color;
    }
    &__message {
      font-size: 11px;
      margin-bottom: 40px;
      color: $normal-color;
    }
  }
}



.chat {
  width: calc(100vw - 300px) ;
  float: right;
  background-color: #fafd5a;
  .chatmain-header {
  height: 100px;
  background-color: $normal-color;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eeeeee;
  padding: 0 40px;
  overflow: scroll;
    &__left-box {
      margin-top: 35px;
      &__current-group {
        font-size: 20px;
        color: #333333;
        margin-bottom: 15px;
      }
      &__group-list {
        display: flex;
        font-size: 12px;
        color: #999999;
      }
    }
    &__right-box {
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      border: solid 1px $btn-color;
      position: absolute;
      right: 40px;
      padding: 0 20px;
      .edit-btn{
        text-decoration: none;
        color: $btn-color;
      }
    }
  }

  .chatmain-message {
  height: calc(100vh - 190px);
  background-color: #fafafa;
  border-bottom: solid 1px #eee;
  padding: 40px;
  overflow: scroll;
    &__data{
      margin-bottom: 46px;    
      &__info {
        margin-bottom: 12px;
        display: flex;
        &--taker {
          font-size: 16px;
          font-weight: bold;
          color: 333333;
        }
        &--date {
          font-size: 12px;
          color: #999999;
        }
      }
      &__text {
        font-size: 14px;
        color: #434A54;
        &__content{
          font-size: 14px;
          color: #434A54; 
        }
      }
      img {
        height: 125px;
        width: 200px;
      }
    }
  }

  .chatmain-form{
    height: 90px;
    background-color: #d2d2d2; 
    .new_message {
      display: flex;
      padding: 20px 40px 20px 50px;  
      .form__box {
        width: 100%;
        display: flex;
        position: relative;
        &__message {
          height: 50px;
          width: 100%;
          color: #434a54;
          border-style: none;
          padding: 0 40px 0 10px;
        }
        &__image {
          cursor: pointer;
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          .hidden {     
          display: none;
          }
        }
      }
      .form__submit {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: $btn-color;
        color: $normal-color;
        cursor: pointer;
      }
      .field_with_errors {
        display: contents;
        // もしくは diplay: inline;
      }
    } 
  }
}